Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff-check, pyright, uv-lock-check

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(.*\.(ya?ml|json5?)|src/frontend/.*\.(ts|tsx|js|jsx|css|md))$
        exclude: "node_modules/.*"
        additional_dependencies:
          - prettier@3.5.3

  - repo: local
    hooks:
      # Frontend Code Quality
      - id: eslint
        name: ESLint
        entry: bash -c 'cd src/frontend && npm run lint:fix'
        language: system
        files: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Python Code Quality (Backend & Tests)
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format src/backend tests
        language: system
        files: ^(src/backend|tests)/.*\.py$
        pass_filenames: false
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check src/backend tests --fix --exit-non-zero-on-fix
        files: ^(src/backend|tests)/.*\.py$
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright src/backend tests
        language: system
        files: ^(src/backend|tests)/.*\.py$
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

feat: npm run dev自動再起動機能を追加
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: none

fix: AI連続発言防止機能のデバッグログ強化
  src/backend/ai/auto_conversation.py
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

refactor: メッセージ履歴制限を30件から10件に変更
  CLAUDE.md
  docs/backend.md
  src/backend/ai/conversation_config.py
  src/backend/constants/ai_config.py
  src/backend/crud.py
Due: ruff-format, ruff-check, pyright

feat: AI会話履歴参照件数を30件から10件に最適化
  CLAUDE.md
  README.md
Due: none

fix: AI_MAX_OUTPUT_TOKENS環境変数の安全な変換処理を追加
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

fix: AI連続発言防止機能のDBコミット問題を修正
  src/backend/ai/conversation_timer.py
Due: ruff-format, ruff-check, pyright

fix: AI連続発言防止で最新メッセージ取得ロジックを修正
  src/backend/ai/auto_conversation.py
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

fix: メッセージ履歴取得処理を最新メッセージ優先に修正
  src/backend/crud.py
Due: ruff-format, ruff-check, pyright

docs: SQLite関連記述を削除し、Supabase PostgreSQL専用に更新
  CLAUDE.md
  docs/backend.md
  docs/test.md
  prompts/backend-guideline.md
Due: none

feat: AI応答のDiscord webhook送信機能を追加
  src/backend/ai/auto_conversation.py
  src/backend/ai/message_handlers.py
  src/backend/utils/discord_webhook.py
Due: ruff-format, ruff-check, pyright

deps: httpx依存関係追加とuv.lockファイル更新
  .env.example
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: Discord webhook相対インポートエラーを修正
  src/backend/ai/auto_conversation.py
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

feat: Discord webhook送信メッセージに区切り線を追加
  src/backend/utils/discord_webhook.py
Due: ruff-format, ruff-check, pyright

refactor: レビューコメント対応でDiscord webhook処理を改善
  src/backend/ai/auto_conversation.py
  src/backend/ai/message_handlers.py
  src/backend/utils/discord_webhook.py
Due: ruff-format, ruff-check, pyright

feat: Discord webhook API制約対応を追加
  src/backend/utils/discord_webhook.py
Due: ruff-format, ruff-check, pyright

feat: Discord区切り線を20文字に変更
  src/backend/utils/discord_webhook.py
Due: ruff-format, ruff-check, pyright

fix: ページネーションバグを修正し標準semanticsに対応
  src/backend/crud.py
Due: ruff-format, ruff-check, pyright

fix: ページネーション時系列一貫性バグを修正
  src/backend/crud.py
Due: ruff-format, ruff-check, pyright

refactor: ルナの人格をおバカ・天然系に変更
  CLAUDE.md
  prompts/people/004_ルナ.md
Due: none

docs: 不要な記述削除
  CLAUDE.md
Due: none

docs: 環境変数をAI_CONVERSATION_INTERVAL_SECONDSに更新
  CLAUDE.md
  README.md
  docs/backend.md
  prompts/backend-guideline.md
  src/backend/ai/conversation_config.py
Due: ruff-format, ruff-check, pyright

fix: AI会話間隔の最小値を1秒に変更
  src/backend/ai/conversation_config.py
Due: ruff-format, ruff-check, pyright

feat: user_type列追加のAlembicマイグレーション
  src/backend/alembic/versions/ffa9f3061319_add_user_type_column_to_messages_table.py
Due: ruff-format, ruff-check, pyright

docs: user_type列追加とAI会話間隔設定のドキュメント更新
  README.md
  docs/backend.md
  docs/frontend.md
  docs/test.md
  prompts/backend-guideline.md
  prompts/frontend-guideline.md
Due: none

fix: 危険なマイグレーションファイルを削除
  src/backend/alembic/versions/ffa9f3061319_add_user_type_column_to_messages_table.py
Due: ruff-format, ruff-check, pyright

docs: レビューコメントに基づくドキュメント改善
  CLAUDE.md
  docs/test.md
  prompts/frontend-guideline.md
Due: none

feat: pre-commit設定を最適化
  .pre-commit-config.yaml
  pyproject.toml
Due: uv-lock-check

style: pre-commit自動フォーマット適用
  .mcp.json
  .vscode/settings.json
  docs/backend.md
  docs/test.md
  prompts/backend-guideline.md
  src/backend/ai/auto_conversation.py
  src/backend/ai/conversation_timer.py
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/ai/personality_manager.py
  src/backend/main.py
  src/backend/schemas.py
  src/backend/utils/discord_webhook.py
  src/backend/utils/session_manager.py
  src/backend/websocket/__init__.py
  src/backend/websocket/handler.py
  src/backend/websocket/manager.py
  src/frontend/tsconfig.json
  tests/frontend/components.test.tsx
Due: ruff-format, ruff-check, pyright

fix: ruff日本語エラー無視設定を追加
  pyproject.toml
Due: uv-lock-check

fix: TypeScript設定ファイルのJSON構文エラーを修正
  src/frontend/tsconfig.app.json
  src/frontend/tsconfig.node.json
Due: none

feat: ruff設定を最適化してコード品質向上
  pyproject.toml
Due: uv-lock-check

docs: バックエンドコアモジュールにdocstringを追加
  src/backend/alembic/env.py
  src/backend/crud.py
  src/backend/database.py
  src/backend/main.py
  src/backend/models.py
  src/backend/schemas.py
Due: ruff-format, ruff-check, pyright

refactor: AI機能とWebSocketの型アノテーションを強化
  src/backend/ai/auto_conversation.py
  src/backend/ai/conversation_config.py
  src/backend/ai/conversation_timer.py
  src/backend/ai/message_handlers.py
  src/backend/ai/personality_manager.py
  src/backend/utils/session_manager.py
  src/backend/websocket/handler.py
  src/backend/websocket/manager.py
Due: ruff-format, ruff-check, pyright

test: テストファイル全体の型アノテーションを完全対応
  tests/backend/conftest.py
  tests/backend/test_api.py
  tests/backend/test_models.py
  tests/backend/test_supabase_integration.py
  tests/backend/test_websocket.py
  tests/conftest.py
Due: ruff-format, ruff-check, pyright

docs: pre-commit最適化に伴うドキュメント全面更新
  CLAUDE.md
  docs/backend.md
  docs/frontend.md
  docs/test.md
Due: none

refactor: WebSocketハンドラー関数の複雑度削減
  src/backend/websocket/handler.py
Due: ruff-format, ruff-check, pyright

docs: レビューコメントに基づくドキュメント改善
  docs/backend.md
  docs/test.md
Due: none

ソラを外してみる
  prompts/005_ソラ.md
Due: none

fix: AIらしさをなくす
  src/backend/ai/auto_conversation.py
Due: ruff-format, ruff-check, pyright

feat: 人間っぽくプロンプト変更
  prompts/people/common_prompt.md
  src/backend/ai/gemini_client.py
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright
