Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff-check, pyright, uv-lock-check

eslint:
  name: ESLint
  entry: bash -c 'cd src/frontend && npm run lint:fix'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ruff-format:
  name: Ruff Format
  entry: uv run ruff format src/backend tests
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff Check
  entry: uv run ruff check src/backend tests --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright src/backend tests
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

docs: backend.mdのコードブロック言語指定とURLリンク形式を修正
  docs/backend.md
Due: none

docs: test.mdのファイル数表記を修正とtest_ai_response_triggerにfixture引数を追加
  docs/test.md
Due: none

docs: test.mdにtest_models.pyの実装例を追加
  docs/test.md
Due: none

docs: test.mdのディレクトリ構造にsrc/backend/を追加
  docs/test.md
Due: none

docs: WebSocketテスト関数に具体的な実装例を追加
  docs/test.md
Due: none

docs: REST APIテスト関数に具体的な実装例を追加
  docs/test.md
Due: none

docs: TypeScriptテストのit関数に具体的な実装例を追加
  docs/test.md
Due: none

docs: test.mdのタイトルと概要文の用語統一
  docs/test.md
Due: none

docs: AI機能対応の説明を具体化
  docs/test.md
Due: none

docs: 番号付きリストの前後に空行を追加して可読性を向上
  docs/test.md
Due: none

docs: test_models.pyのインポート文をファイル冒頭にまとめて可読性を向上
  docs/test.md
Due: none

docs: CLAUDE.mdのバックエンド起動コマンドをuvicornに統一
  CLAUDE.md
Due: none

feat: Gemini 2.5 Flash Preview 05-20へのアップグレード
  CLAUDE.md
  README.md
  docs/backend.md
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_client.pyのImportErrorテストを修正
  tests/backend/test_supabase_client.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_crud.pyのImportErrorテストを修正
  tests/backend/test_supabase_crud.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_realtime.pyのImportErrorテストを修正
  tests/backend/test_supabase_realtime.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_integration.pyのImportErrorテスト修正
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

feat: データ移行テスト実装 (test_supabase_migration.py)
  tests/backend/test_supabase_migration.py
Due: ruff-format, ruff-check, pyright

feat: Supabase依存関係をプロジェクトに追加
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: セキュリティ・AI統合テスト実装完了
  tests/backend/test_supabase_ai_integration.py
  tests/backend/test_supabase_security.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_ai_integration.pyの未使用importを削除
  tests/backend/test_supabase_ai_integration.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_integration.pyのインデント問題を修正
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_migration.pyの未使用importを削除
  tests/backend/test_supabase_migration.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_security.pyのフォーマット問題を修正
  tests/backend/test_supabase_security.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_ai_integration.pyの誤字とフォーマット問題を修正
  tests/backend/test_supabase_ai_integration.py
Due: ruff-format, ruff-check, pyright

fix: test_supabase_migration.pyの誤字とフォーマット問題を修正
  tests/backend/test_supabase_migration.py
Due: ruff-format, ruff-check, pyright

fix: 全テストファイルの誤字修正と統一
  tests/backend/test_supabase_crud.py
  tests/backend/test_supabase_realtime.py
Due: ruff-format, ruff-check, pyright

fix: 全テストファイルの最終フォーマット修正
  tests/backend/test_supabase_ai_integration.py
  tests/backend/test_supabase_client.py
  tests/backend/test_supabase_integration.py
  tests/backend/test_supabase_migration.py
  tests/backend/test_supabase_security.py
Due: ruff-format, ruff-check, pyright

feat: SQLiteからSupabaseへのデータベース移行完了
  package.json
  pyproject.toml
  src/backend/database.py
  uv.lock
Due: ruff-format, ruff-check, pyright, uv-lock-check

docs: Supabase移行に伴うドキュメント更新
  CLAUDE.md
  docs/backend.md
Due: none

fix: WebSocketメッセージ保存時のDetachedInstanceErrorを修正
  src/backend/websocket/handler.py
Due: ruff-format, ruff-check, pyright

fix: AI応答処理でのDetachedInstanceErrorを修正
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

fix: Gemini API設定のthinking_config削除
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

fix: PostgreSQL接続文字列のURLエンコード不整合を修正
  src/backend/database.py
Due: ruff-format, ruff-check, pyright

refactor: MessageBroadcastDataクラスで関数引数数を削減
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

docs: Supabase PostgreSQL移行に関するドキュメント更新
  CLAUDE.md
  README.md
  docs/backend.md
  docs/frontend.md
  docs/test.md
  prompts/backend-guideline.md
  prompts/frontend-guideline.md
Due: none

docs: SQLite関連設定とデータベース環境の文書化を改善
  CLAUDE.md
  README.md
  src/backend/database.py
Due: ruff-format, ruff-check, pyright

docs: CLAUDE.mdに作業時の確認ルールを追加
  CLAUDE.md
  docs/test.md
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

docs: テストガイドにSupabase統合テスト詳細セクションを追加
  docs/test.md
Due: none

docs: 更新
  CLAUDE.md
Due: none

Path conditions:
  eslint: any of: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
  ruff-format: any of: ^(src/backend|tests)/.*\.py$
  ruff-check: any of: ^(src/backend|tests)/.*\.py$
  pyright: any of: ^(src/backend|tests)/.*\.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
