Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff, pyright, uv-lock-check

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(.*\.(ya?ml|json5?)|src/frontend/.*\.(ts|tsx|js|jsx|css|md))$
        exclude: "node_modules/.*"
        additional_dependencies:
          - prettier@3.5.3

  - repo: local
    hooks:
      # Frontend Code Quality
      - id: eslint
        name: ESLint
        entry: bash -c 'cd src/frontend && npm run lint:fix'
        language: system
        files: ^src/frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Python Code Quality
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [src]
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

feat: ESLint設定を大幅強化（JS/JSX/React完全対応）
  package-lock.json
  package.json
  src/frontend/eslint.config.js
Due: none

feat: Prettier設定とnpmスクリプトを最適化
  src/frontend/.prettierrc
  src/frontend/package.json
Due: none

style: 新Prettier設定による自動フォーマット適用
  src/frontend/eslint.config.js
  src/frontend/src/components/Layout.tsx
  src/frontend/src/main.tsx
Due: eslint

fix: プロジェクトルートの不要なpackage.jsonを削除
  package-lock.json
  package.json
Due: none

feat: 初期チャンネルデータを定義
  src/frontend/src/data/channels.ts
Due: eslint

feat: チャンネル一覧コンポーネントを実装
  src/frontend/src/components/ChannelList.tsx
Due: eslint

feat: Layoutコンポーネントにチャンネル選択機能を追加
  src/frontend/src/components/Layout.tsx
Due: eslint

fix: TypeScript型インポートエラーを修正
  src/frontend/src/components/ChannelList.tsx
  src/frontend/src/data/channels.ts
Due: eslint

fix: ESLint必須プラグインの依存関係を追加
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: 配列アクセスの型安全性を向上
  src/frontend/src/components/Layout.tsx
Due: eslint

fix: React 19型定義を最新版に更新
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix: MantineのTitleコンポーネントを使用
  src/frontend/src/components/ChannelList.tsx
Due: eslint

refactor: ESLint設定の重複を排除
  src/frontend/eslint.config.js
Due: none

style: import文の順序を統一
  src/frontend/src/components/ChannelList.tsx
Due: eslint

style: スタイル定義をMantineテーマシステムに統一
  src/frontend/src/components/ChannelList.tsx
Due: eslint

feat: MessageInputコンポーネントを追加
  src/frontend/src/components/MessageInput.tsx
Due: eslint

feat: ChatAreaコンポーネントを追加
  src/frontend/src/components/ChatArea.tsx
Due: eslint

feat: Layoutコンポーネントにメッセージ送信機能を統合
  src/frontend/src/components/Layout.tsx
Due: eslint

feat: MessageItemコンポーネントを作成
  src/frontend/src/components/MessageItem.tsx
Due: eslint

style: フェードインアニメーションをCSSに追加
  src/frontend/src/index.css
Due: none

feat: MessageListコンポーネントを作成
  src/frontend/src/components/MessageList.tsx
Due: eslint

refactor: ChatAreaコンポーネントをMessageList対応に更新
  src/frontend/src/components/ChatArea.tsx
Due: eslint

feat: Layoutコンポーネントにメッセージ状態管理を追加
  src/frontend/src/components/Layout.tsx
Due: eslint

fix: 型インポートをtype-onlyに変更してモジュールエラーを修正
  src/frontend/src/components/ChatArea.tsx
  src/frontend/src/components/Layout.tsx
  src/frontend/src/components/MessageItem.tsx
  src/frontend/src/components/MessageList.tsx
Due: eslint

fix: setMessages関数を追加して状態管理を修正
  src/frontend/src/components/Layout.tsx
Due: eslint

refactor: useCallbackを追加してhandleSendMessage関数を最適化
  src/frontend/src/components/Layout.tsx
Due: eslint

feat: ユーザーメッセージを状態に追加する機能を実装
  src/frontend/src/components/Layout.tsx
Due: eslint

feat: bot自動返信機能を実装（1秒後に「こんにちは」）
  src/frontend/src/components/Layout.tsx
Due: eslint

refactor: テスト用ダミーデータを削除
  src/frontend/src/components/Layout.tsx
Due: eslint

レビュープロンプト改善
  .claude/commands/review.md
Due: none

feat: ChatAreaコンポーネントにヘッダーを追加
  src/frontend/src/components/ChatArea.tsx
Due: eslint

style: カスタムスクロールバーのスタイリングを追加
  src/frontend/src/index.css
Due: none

refactor: ChatAreaコンポーネントの依存関係を改善
  src/frontend/src/components/ChatArea.tsx
  src/frontend/src/components/Layout.tsx
Due: eslint

style: Firefox対応のスクロールバースタイリングを追加
  src/frontend/src/index.css
Due: none

docs: バックエンド実装のための仕様書と手順書を追加
  docs/backend-implementation-guide.md
  docs/simple-backend-spec.md
  prompts/task.md
Due: none

feat: バックエンドプロジェクトの基本構造を作成
  src/backend/__init__.py
  src/backend/crud.py
  src/backend/database.py
  src/backend/main.py
  src/backend/models.py
  src/backend/schemas.py
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

chore: Python 3.13環境を設定
  .python-version
Due: none

chore: バックエンドプロジェクトのpyproject.tomlを作成
  src/backend/pyproject.toml
Due: none

fix: pyproject.tomlにhatchlingのパッケージ設定を追加
  src/backend/pyproject.toml
Due: none

chore: バックエンド依存関係のlockファイルを追加
  src/backend/uv.lock
Due: none
