Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format-backend, ruff-backend, pyright-backend, ruff-format-tests, ruff-tests, pyright-tests, uv-lock-check-backend

eslint:
  name: ESLint
  entry: bash -c 'cd src/frontend && npm run lint:fix'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ruff-format-backend:
  name: Ruff Format (Backend)
  entry: bash -c 'cd src/backend && uv run ruff format'
  language: system
  pass_filenames: false

ruff-backend:
  name: Ruff (Backend)
  entry: bash -c 'cd src/backend && uv run ruff check --fix --exit-non-zero-on-fix'
  language: system
  pass_filenames: false

pyright-backend:
  name: pyright (Backend)
  entry: bash -c 'cd src/backend && uv run pyright .'
  language: system
  pass_filenames: false

ruff-format-tests:
  name: Ruff Format (Tests)
  entry: bash -c 'uv run ruff format tests'
  language: system
  pass_filenames: false

ruff-tests:
  name: Ruff (Tests)
  entry: bash -c 'uv run ruff check tests --fix --exit-non-zero-on-fix'
  language: system
  pass_filenames: false

pyright-tests:
  name: pyright (Tests)
  entry: bash -c 'uv run pyright tests'
  language: system
  pass_filenames: false

uv-lock-check-backend:
  name: Check backend uv.lock is up to date
  entry: bash -c 'cd src/backend && uv lock --check'
  language: system
  pass_filenames: false

fix: エラー処理を堅牢化して例外タイプを明示的にログ出力
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: タイムゾーン処理を柔軟化してJST定数を導入
  src/backend/ai/message_handlers.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: シングルトンパターンをスレッドセーフに改善（ダブルチェックロッキング）
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: パス構築ロジックを改善してディレクトリ階層検索で堅牢性を向上
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: メッセージフィルタリングを改善して単語境界を考慮した正規表現検出に変更
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: WebSocketMessage型不整合と入力検証不備を修正
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: pre-commit設定を最適化してPythonフックを統合
  .pre-commit-config.yaml
Due: none

fix: WebSocket接続状態チェックを追加してメッセージ送信を安全化
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: WebSocketMessage型定義を強化しAI応答エラーハンドリングと未知メッセージタイプ処理を改善
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

security: ValidationError個別処理と詳細バリデーション、本番環境でのログ制御を追加
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: import構造統一、ブロードキャスト構造改善、AI応答ログレベル調整、メッセージタイプ管理強化
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: WindowsでのSQLiteパスフォーマット問題を修正（バックスラッシュ→スラッシュ）
  src/backend/database.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: @ai検出の正規表現を修正して偽陽性・偽陰性を解決
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: メッセージタイプを構造化してマジックナンバーを定数化
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: テスト環境でのトランザクション管理を修正してcommit一貫性を保つ
  src/backend/utils/session_manager.py
Due: ruff-format-backend, ruff-backend, pyright-backend

improve: WebSocket接続状態チェック堅牢化とAI応答エラー時のユーザー通知追加
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

improve: @AI検出を日本語環境に対応（全角スペース考慮）
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: テスト境界を尊重するためauto_commitパラメータを追加してセッション管理を改善
  src/backend/ai/message_handlers.py
  src/backend/utils/session_manager.py
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: pre-commitフックを修正してプロジェクトルートのuv.lockチェックに対応
  .pre-commit-config.yaml
Due: none

improve: 動的インポートのログ追加とメッセージバリデーション最適化
  src/backend/utils/session_manager.py
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend

feature: メッセージ入力をShift+Enter送信に変更
  src/frontend/src/components/MessageInput.tsx
Due: eslint

feature: npm scriptsで同時起動を実装
  README.md
  package-lock.json
  package.json
Due: none

fix: package.jsonのscripts設定を正しいパスに修正
  package.json
Due: none

style: prettierフォーマット適用
  package.json
  src/frontend/package-lock.json
Due: none

fix: バックエンドスクリプトにuv sync自動実行を追加
  README.md
  package.json
Due: none

refactor: scriptsの重複を排除してDRYに改善
  package.json
Due: none

fix: package-lock.jsonの不整合とFastAPI起動コマンドを修正
  package-lock.json
  package.json
Due: none

feat: pre-commitにpackage-lock.jsonチェックを追加
  .pre-commit-config.yaml
Due: none

fix: npm-lock-checkフックをfrontendセクションに適切に配置
  .pre-commit-config.yaml
Due: none

move: src/backend/README.md を docs/backend.md に移動
  docs/backend.md
  src/backend/README.md
Due: none

move: src/frontend/README.md を docs/frontend.md に移動
  docs/frontend.md
Due: none

docs: ドキュメントリンクを更新してディレクトリ構成変更に対応
  CLAUDE.md
  README.md
Due: none

docs: ガイドラインをpromptsディレクトリに移動・api-reference.mdを削除
  docs/api-reference.md
  prompts/backend-guideline.md
  prompts/frontend-guideline.md
Due: none

feat: .env.exampleを更新
  .env.example
Due: none

docs: test.mdとcontributing.mdを最新の実装状況に合わせて更新
  docs/contributing.md
  docs/test.md
Due: none

docs: プロジェクト構成図を実際の構造に合わせて全面更新
  CLAUDE.md
  README.md
Due: none

docs: 更新
  CLAUDE.md
  README.md
  docs/frontend.md
Due: none

docs: backend.mdにSupabase環境変数の説明を追加
  docs/backend.md
Due: none

docs: README.mdのAI使用例コードブロックに言語指定を追加
  README.md
Due: none

docs: CLAUDE.mdのプロジェクト構成コードブロックに言語指定を追加
  CLAUDE.md
Due: none

Path conditions:
  eslint: any of: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
  ruff-format-backend: any of: ^src/backend/.*\.py$
  ruff-backend: any of: ^src/backend/.*\.py$
  pyright-backend: any of: ^src/backend/.*\.py$
  ruff-format-tests: any of: ^tests/.*\.py$
  ruff-tests: any of: ^tests/.*\.py$
  pyright-tests: any of: ^tests/.*\.py$
  uv-lock-check-backend: any of: ^src/backend/(pyproject\.toml|uv\.lock)$
