Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff-check, pyright, uv-lock-check

eslint:
  name: ESLint
  entry: bash -c 'cd src/frontend && npm run lint:fix'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ruff-format:
  name: Ruff Format
  entry: uv run ruff format src/backend tests
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff Check
  entry: uv run ruff check src/backend tests --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright src/backend tests
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

refactor: PostgreSQL接続設定のセキュリティとエラーハンドリング強化
  src/backend/database.py
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

refactor: generate_and_save_ai_response関数の複雑度軽減
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

test: Supabase CRUDテストのクリーンアップを強化
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

test: importlib.reloadを除去してテストの安全性を向上
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

docs: Supabase統合テストの実行環境別注意事項を追加
  docs/test.md
Due: none

refactor: 環境変数型安全性とエラーハンドリングを改善
  src/backend/database.py
Due: ruff-format, ruff-check, pyright

refactor: データベースセキュリティガイドラインと接続プール設定を改善
  prompts/backend-guideline.md
  src/backend/database.py
Due: ruff-format, ruff-check, pyright

docs: テスト実行の環境変数設定ガイドを充実
  docs/test.md
Due: none

refactor: generate_and_save_ai_response関数の複雑度を軽減
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

test: 固定IDをUUID生成に変更して並列テスト実行に対応
  tests/backend/test_supabase_integration.py
Due: ruff-format, ruff-check, pyright

feature: メッセージ送信キーバインドをCommand+Enter/Ctrl+Enterに変更
  docs/frontend.md
  src/frontend/src/components/MessageInput.tsx
  src/frontend/vite.config.ts
  tests/frontend/components.test.tsx
Due: eslint

feature: AI応答時の過去30件メッセージ履歴を含む文脈理解機能を追加
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/crud.py
Due: ruff-format, ruff-check, pyright

docs: AI文脈理解機能のドキュメント更新
  docs/backend.md
Due: none

docs: CLAUDE.mdの機能一覧に文脈理解機能を追記
  CLAUDE.md
Due: none

fix: プラットフォーム固有のキーバインドとプレースホルダーテキストに改善
  src/frontend/src/components/MessageInput.tsx
  tests/frontend/components.test.tsx
Due: eslint

fix: WebSocketエンドポイントでのデータベースセッション渡し忘れを修正
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/crud.py
  src/backend/main.py
  src/backend/models.py
  src/backend/schemas.py
  src/frontend/src/components/Layout.tsx
  src/frontend/src/components/MessageItem.tsx
  src/frontend/src/types/chat.ts
Due: eslint, ruff-format, ruff-check, pyright

fix: messagesテーブルにuser_typeカラムが存在しない問題を修正
  HOTFIX_user_type_column.md
Due: none

fix: WebSocketテストの関数シグネチャとuser_typeフィールド不足を修正
  tests/backend/test_websocket.py
Due: ruff-format, ruff-check, pyright

fix: AIメッセージのWebSocketブロードキャストでuser_typeフィールド不足を修正
  HOTFIX_user_type_column.md
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/schemas.py
  src/backend/websocket/types.py
Due: ruff-format, ruff-check, pyright

refactor: Gemini APIクライアントのメソッド複雑性を改善
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

fix: messagesテーブルのuser_typeカラムを削除
  HOTFIX_user_type_column.md
Due: none

refactor: WebSocketMessageDataでUserType列挙型を使用して型安全性を向上
  src/backend/ai/gemini_client.py
  src/backend/websocket/types.py
Due: ruff-format, ruff-check, pyright

fix: GeminiAPIクライアントのコード品質を改善
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

人格プロンプトを追加してみる
  prompts/people/001_レン.md
  prompts/people/002_ミナ.md
  prompts/people/003_テツ.md
  prompts/people/004_ルナ.md
  prompts/people/005_ソラ.md
Due: none

プロンプトの内容を整理し、話題の得意分野やNGなこと、応答例を削除して簡潔化しました。
  prompts/001_ハルト.md
Due: none

feat: Alembicの依存関係をpyproject.tomlに追加
  pyproject.toml
  uv.lock
Due: uv-lock-check

style: Alembicファイルのlint修正
  src/backend/alembic.ini
  src/backend/alembic/README
  src/backend/alembic/env.py
  src/backend/alembic/script.py.mako
  src/backend/alembic/versions/9cd82373621b_initial_migration_channels_and_messages_.py
Due: ruff-format, ruff-check, pyright

fix: main.pyの未使用import(engine, Base)を削除
  src/backend/main.py
Due: ruff-format, ruff-check, pyright

fix: backendスクリプトのディレクトリ修正
  package.json
Due: none

style: importの順序をruffで修正
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/websocket/handler.py
  src/backend/websocket/types.py
Due: ruff-format, ruff-check, pyright

style: Ruffフォーマット修正
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/main.py
  src/backend/websocket/handler.py
  src/backend/websocket/types.py
Due: ruff-format, ruff-check, pyright

chore: 不要なalembic/READMEファイルを削除
  src/backend/alembic/README
Due: none

feat: AI人格管理モジュールを追加
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright

fix: gemini_clientの型エラーを修正
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
Due: ruff-format, ruff-check, pyright

fix: session_managerの相対インポートエラーを修正
  src/backend/utils/session_manager.py
Due: ruff-format, ruff-check, pyright

feat: AI人格プロンプトにユーザーの呼び方を統一
  prompts/people/001_レン.md
  prompts/people/002_ミナ.md
  prompts/people/003_テツ.md
  prompts/people/004_ルナ.md
  prompts/people/005_ソラ.md
Due: none

feat: prompts/001_ハルト.mdを削除
  prompts/001_ハルト.md
Due: none

docs: CLAUDE.mdを複数AI人格システムに対応
  CLAUDE.md
Due: none

docs: backend.mdを複数AI人格システムに対応
  docs/backend.md
Due: none

fix: 型チェックエラーを完全解決
  pyproject.toml
  src/backend/ai/gemini_client.py
  uv.lock
Due: ruff-format, ruff-check, pyright, uv-lock-check

Path conditions:
  eslint: any of: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
  ruff-format: any of: ^(src/backend|tests)/.*\.py$
  ruff-check: any of: ^(src/backend|tests)/.*\.py$
  pyright: any of: ^(src/backend|tests)/.*\.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
