Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff, pyright, uv-lock-check

eslint:
  name: ESLint
  entry: bash -c 'cd src/frontend && npm run lint:fix'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ruff-format:
  name: Ruff Format
  entry: uv run ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  args:
  - src/backend
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

refactor: プロジェクト設定ファイルを統合し重複を解消
  .pre-commit-config.yaml
  pyproject.toml
  src/backend/pyproject.toml
  src/backend/uv.lock
  uv.lock
Due: uv-lock-check

refactor: バックエンド用pyproject.tomlとuv.lockをsrc/backend内に移動し適切な分離構成に変更
  .pre-commit-config.yaml
  src/backend/pyproject.toml
  src/backend/uv.lock
  uv.lock
Due: uv-lock-check

feat: バックエンドのREADME.mdを追加し、プロジェクト構造と開発環境セットアップ手順を明記。バックエンド関連のファイルを.gitignoreに追加。
  .gitignore
  src/backend/README.md
Due: none

末尾の改行を追加
  src/backend/pyproject.toml
Due: none

feat: 手順書のステップ2を実装するように指示を更新し、ステップ1の実装状況を確認するように追記
  prompts/task.md
Due: none

feat: SQLAlchemyデータベース設定を実装
  src/backend/database.py
Due: ruff-format, ruff, pyright

feat: データベースモデルを実装
  src/backend/models.py
Due: ruff-format, ruff, pyright

feat: Pydanticスキーマを実装
  src/backend/schemas.py
Due: ruff-format, ruff, pyright

refactor: SQLAlchemy 2.0とPydantic v2の推奨方法に更新
  src/backend/database.py
  src/backend/schemas.py
Due: ruff-format, ruff, pyright

タスクに関する指示を含む手順書ファイルを削除しました。
  prompts/task.md
Due: none

feat: FastAPIアプリケーションの基本実装
  src/backend/main.py
Due: ruff-format, ruff, pyright

chore: backendディレクトリにgitignoreを追加
  src/backend/.gitignore
Due: none

chore: 不要な.gitignoreと.gitkeepファイルを削除
  src/backend/.gitignore
  src/backend/.gitkeep
Due: none

refactor: SQLAlchemy 2.0とPydantic v2の推奨方法に更新
  src/backend/models.py
  src/backend/schemas.py
Due: ruff-format, ruff, pyright

refactor: Pydantic v2.11+対応でpopulate_by_nameを置き換え
  src/backend/schemas.py
Due: ruff-format, ruff, pyright

feat: CRUD操作の実装
  CLAUDE.md
  src/backend/crud.py
  src/backend/main.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-format, ruff, pyright

fix: レビューコメントに基づく改善
  src/backend/crud.py
  src/backend/main.py
Due: ruff-format, ruff, pyright

feat: WebSocket機能を実装
  src/backend/main.py
  src/backend/test_websocket.py
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

fix: レビューコメントに基づく改善
  src/backend/crud.py
  src/backend/main.py
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

feat: フロントエンドのWebSocket連携機能を実装
  src/frontend/src/components/Layout.tsx
Due: eslint

fix: レビューコメントに基づくセキュリティと安定性の改善
  src/backend/main.py
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

CLAUDE.md改善
  CLAUDE.md
  docs/backend-guideline.md
  docs/frontend-guideline.md
Due: none

refactor: WebSocket関数の型ヒントを改善
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

docs: WebSocket接続管理処理に詳細なコメントを追加
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

fix: WebSocketエラーメッセージの一貫性を改善
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

fix: WebSocketエラー処理でのNullable型処理を強化
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

fix: WebSocketでのデータベーストランザクション管理を強化
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

fix: ログモニターツールの型注釈を修正
  src/backend/db_inspector.py
  src/backend/log_monitor.py
  src/backend/pyproject.toml
  src/backend/run_step7_tests.py
  src/backend/test_comprehensive.py
  src/backend/uv.lock
Due: ruff-format, ruff, pyright

style: コードフォーマット適用
  src/backend/database.py
  src/backend/main.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/backend/websocket.py
Due: ruff-format, ruff, pyright

docs: CLAUDE.mdを最新の開発状況に更新
  CLAUDE.md
Due: none

e2eテストガイド作ってみる
  docs/e2e-test-setup-guide.md
  docs/e2e-test-specification.md
Due: none

docs: README.mdを最新情報に更新
  README.md
Due: none

docs: 詳細な実装ドキュメントと運用ガイドを追加
  docs/api-reference.md
  docs/backend.md
  docs/contributing.md
  docs/deployment-guide.md
  docs/frontend.md
  docs/playwright-test-examples.md
Due: none

fix: メッセージ履歴取得時のフィールドマッピングを修正
  src/frontend/src/components/Layout.tsx
Due: eslint

docs: ドキュメントをコンパクトに改善
  docs/api-reference.md
  docs/backend.md
  docs/contributing.md
  docs/deployment-guide.md
  docs/e2e-test-setup-guide.md
  docs/e2e-test-specification.md
  docs/frontend.md
  docs/playwright-test-examples.md
Due: none

fix: モバイルレスポンシブ対応を追加
  docs/api-reference.md
  docs/backend.md
  docs/frontend.md
  src/frontend/src/components/Layout.tsx
Due: eslint

fix: メッセージ履歴の自動スクロール機能を改善
  src/frontend/src/components/MessageList.tsx
Due: eslint

fix: 日本語入力時のEnterキー送信問題を修正
  src/frontend/src/components/MessageInput.tsx
Due: eslint

docs: e2e修正結果とドキュメントを更新
  CLAUDE.md
  docs/frontend.md
Due: none

fix: チャットエリアのレイアウトを修正し入力欄を固定位置に配置
  src/frontend/src/components/ChatArea.tsx
Due: eslint

Path conditions:
  eslint: any of: ^src/frontend/src/.*\.(ts|tsx|js|jsx)$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
