Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format, ruff-check, pyright, uv-lock-check

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(.*\.(ya?ml|json5?)|src/frontend/.*\.(ts|tsx|js|jsx|css|md))$
        exclude: "node_modules/.*"
        additional_dependencies:
          - prettier@3.5.3

  - repo: local
    hooks:
      # Frontend Code Quality
      - id: eslint
        name: ESLint
        entry: bash -c 'cd src/frontend && npm run lint:fix'
        language: system
        files: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Python Code Quality (Backend & Tests)
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format src/backend tests
        language: system
        files: ^(src/backend|tests)/.*\.py$
        pass_filenames: false
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check src/backend tests --fix --exit-non-zero-on-fix
        files: ^(src/backend|tests)/.*\.py$
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright src/backend tests
        language: system
        files: ^(src/backend|tests)/.*\.py$
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

docs: 話が進展するようにプロンプト変えてみる
  prompts/people/001_レン.md
  prompts/people/002_ミナ.md
  prompts/people/003_テツ.md
  prompts/people/004_ルナ.md
  prompts/people/005_ソラ.md
Due: none

docs: 複数AI人格システムに合わせてドキュメントを完全更新
  docs/backend.md
  docs/frontend.md
  docs/test.md
Due: none

refactor: ファイル名ベースでAI人格のuser_ID生成に改善
  docs/backend.md
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright

refactor: 到達不可能なコードを削除
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

feat: シングルトンパターンのスレッドセーフティを改善
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright

docs: プロンプト構成例のコードブロックに言語指定を追加
  docs/backend.md
Due: none

fix: Google Genai API移行時のバグを修正
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

improve: ファイル読み込み処理のエラーハンドリングを強化
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright

fix: APIエラーマスキングと型ヒントの問題を修正
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

fix: ruffによるインポート順序の修正
  src/backend/ai/auto_conversation.py
  src/backend/ai/conversation_config.py
  src/backend/ai/conversation_timer.py
  src/backend/main.py
Due: ruff-format, ruff-check, pyright

docs: AI自動会話機能のドキュメントを更新
  CLAUDE.md
Due: none

fix: pre-commitフックによるフォーマット調整
  src/backend/ai/auto_conversation.py
  src/backend/ai/conversation_config.py
Due: ruff-format, ruff-check, pyright

docs: ドキュメントの間隔設定を1分に更新
  CLAUDE.md
Due: none

fix: pre-commitフックによるフォーマット調整
  src/backend/ai/auto_conversation.py
  src/backend/ai/conversation_timer.py
  src/backend/main.py
Due: ruff-format, ruff-check, pyright

fix: pre-commitフックによるフォーマット調整
  src/backend/ai/auto_conversation.py
Due: ruff-format, ruff-check, pyright

docs: AI自律会話機能のドキュメント更新
  CLAUDE.md
Due: none

docs: AI人格とプロジェクト構成のドキュメント更新
  CLAUDE.md
  README.md
  docs/backend.md
Due: none

docs: 人格を更新
  prompts/people/001_レン.md
  prompts/people/002_ミナ.md
  prompts/people/003_テツ.md
  prompts/people/004_ルナ.md
  prompts/people/005_ソラ.md
Due: none

fix: 環境変数パースの検証強化とエラーハンドリング改善
  src/backend/ai/conversation_config.py
Due: ruff-format, ruff-check, pyright

refactor: MessageCreate→MessageBroadcastData変換ロジックを分離
  src/backend/ai/auto_conversation.py
Due: ruff-format, ruff-check, pyright

docs: 非同期セッション管理の将来的改善事項を文書化
  CLAUDE.md
  src/backend/ai/conversation_timer.py
Due: ruff-format, ruff-check, pyright

refactor: JSTタイムゾーン定数と不要なelseブロックを改善
  src/backend/ai/auto_conversation.py
Due: ruff-format, ruff-check, pyright

refactor: フロントエンド改善 - 未使用依存関係削除、設定値外部化、定数化、型定義改善
  src/backend/ai/gemini_client.py
  src/frontend/package.json
  src/frontend/src/components/Layout.tsx
  src/frontend/src/components/MessageInput.tsx
  src/frontend/src/components/MessageList.tsx
  src/frontend/src/config/constants.ts
  src/frontend/src/types/chat.ts
Due: eslint, ruff-format, ruff-check, pyright

fix: テストパス問題を修正とテストセットアップ改善
  src/frontend/src/components/MessageItem.test.tsx
  src/frontend/src/setupTests.ts
  src/frontend/vite.config.ts
  tests/frontend/components.test.tsx
  tests/frontend/integration.test.tsx
Due: eslint

refactor: 共通定数モジュールを作成
  src/backend/constants/__init__.py
  src/backend/constants/ai_config.py
  src/backend/constants/logging.py
  src/backend/constants/timezone.py
Due: ruff-format, ruff-check, pyright

refactor: JST定数を共通モジュールに統一
  src/backend/ai/auto_conversation.py
  src/backend/ai/message_handlers.py
  src/backend/schemas.py
Due: ruff-format, ruff-check, pyright

refactor: マジックナンバーを定数化
  src/backend/ai/conversation_timer.py
  src/backend/ai/gemini_client.py
Due: ruff-format, ruff-check, pyright

refactor: ログ設定文字列を定数化
  src/backend/main.py
Due: ruff-format, ruff-check, pyright

fix: レビューコメント対応 - テストカバレッジ拡充とテスト設定改善
  src/frontend/src/components/MessageInput.test.tsx
  src/frontend/src/components/MessageItem.test.tsx
  src/frontend/src/setupTests.ts
Due: eslint

fix: タイムスタンプテストのタイムゾーン依存問題を修正
  src/frontend/src/components/MessageItem.test.tsx
Due: eslint

fix: テスト実行パターン問題への対応
  tests/frontend/components.test.tsx
  tests/frontend/integration.test.tsx
Due: none

fix: Nitpickコメント対応 - テストデータとコメントの改善
  src/frontend/src/components/MessageItem.test.tsx
Due: eslint

fix: AI応答最大トークン数を2000に復元し定数化
  src/backend/ai/gemini_client.py
  src/backend/constants/ai_config.py
  src/backend/main.py
Due: ruff-format, ruff-check, pyright

docs: リファクタリング後の最新コードベース構造に合わせてドキュメント更新
  CLAUDE.md
  docs/backend.md
  prompts/backend-guideline.md
Due: none

fix: トークン数を 2000 → 1000
  src/backend/constants/ai_config.py
Due: ruff-format, ruff-check, pyright

fix: AI最大出力トークン数を1000から2048に増加
  src/backend/ai/gemini_client.py
  src/backend/constants/ai_config.py
Due: ruff-format, ruff-check, pyright

docs: AI最大出力トークン数設定を追加
  CLAUDE.md
Due: none

feat: AI人格プロンプトに発言長調整指示を追加
  prompts/people/001_レン.md
  prompts/people/002_ミナ.md
  prompts/people/003_テツ.md
  prompts/people/004_ルナ.md
  prompts/people/005_ソラ.md
Due: none

fix: AI人格連続発言防止機能を有効化
  src/backend/ai/auto_conversation.py
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/ai/personality_manager.py
Due: ruff-format, ruff-check, pyright

docs: AI機能最新化に伴うドキュメント包括更新
  README.md
  docs/backend.md
  docs/contributing.md
  docs/frontend.md
  docs/test.md
  prompts/backend-guideline.md
  prompts/frontend-guideline.md
Due: none
