Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format-backend, ruff-backend, pyright-backend, ruff-format-tests, ruff-tests, pyright-tests, uv-lock-check-backend

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(.*\.(ya?ml|json5?)|src/frontend/.*\.(ts|tsx|js|jsx|css|md))$
        exclude: "node_modules/.*"
        additional_dependencies:
          - prettier@3.5.3

  - repo: local
    hooks:
      # Frontend Code Quality
      - id: eslint
        name: ESLint
        entry: bash -c 'cd src/frontend && npm run lint:fix'
        language: system
        files: ^src/frontend/(src|tests)/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Python Code Quality (Backend)
      - id: ruff-format-backend
        name: Ruff Format (Backend)
        entry: bash -c 'cd src/backend && uv run ruff format'
        language: system
        files: ^src/backend/.*\.py$
        pass_filenames: false
      - id: ruff-backend
        name: Ruff (Backend)
        entry: bash -c 'cd src/backend && uv run ruff check --fix --exit-non-zero-on-fix'
        files: ^src/backend/.*\.py$
        language: system
        pass_filenames: false
      - id: pyright-backend
        name: pyright (Backend)
        entry: bash -c 'cd src/backend && uv run pyright .'
        language: system
        files: ^src/backend/.*\.py$
        pass_filenames: false

      # Python Code Quality (Tests)
      - id: ruff-format-tests
        name: Ruff Format (Tests)
        entry: bash -c 'uv run ruff format tests'
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false
      - id: ruff-tests
        name: Ruff (Tests)
        entry: bash -c 'uv run ruff check tests --fix --exit-non-zero-on-fix'
        files: ^tests/.*\.py$
        language: system
        pass_filenames: false
      - id: pyright-tests
        name: pyright (Tests)
        entry: bash -c 'uv run pyright tests'
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false
      - id: uv-lock-check-backend
        name: Check backend uv.lock is up to date
        entry: bash -c 'cd src/backend && uv lock --check'
        language: system
        files: ^src/backend/(pyproject\.toml|uv\.lock)$
        pass_filenames: false

fix: バックエンドでタイムスタンプをUTC ISO形式で統一出力
  src/backend/schemas.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: 重複したタイムスタンプシリアライゼーションロジックをヘルパー関数に抽出
  src/backend/schemas.py
Due: ruff-format-backend, ruff-backend, pyright-backend

style: ruffでコードフォーマットを適用
  src/backend/schemas.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: timezone-awareなdatetimeをUTCに変換してからシリアライズ
  src/backend/schemas.py
Due: ruff-format-backend, ruff-backend, pyright-backend

docs: docstringを英語から日本語に統一
  src/backend/schemas.py
Due: ruff-format-backend, ruff-backend, pyright-backend

ci: 不要なall-tests-completeジョブを削除
  .github/workflows/test.yml
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

refactor: コメントとログメッセージを日本語に統一
  src/backend/README.md
  src/backend/database.py
  src/backend/db_inspector.py
  src/backend/log_monitor.py
  src/backend/main.py
  src/backend/models.py
  src/backend/websocket.py
  src/frontend/README.md
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: テストのエラーメッセージを日本語に更新
  tests/backend/test_api.py
Due: ruff-format-tests, ruff-tests, pyright-tests

style: Ruffによる文字列クォート統一
  src/backend/db_inspector.py
  src/backend/log_monitor.py
Due: ruff-format-backend, ruff-backend, pyright-backend

md: 音鳴らす設定削除
  CLAUDE.md
Due: none

Revert "md: 音鳴らす設定削除"
  CLAUDE.md
Due: none

feat: ハルトのプロンプトファイル作成
  prompts/001_ハルト.md
Due: none

feat: Gemini API依存関係追加
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: uv-lock-check-backend

feat: Gemini API統合モジュール実装
  src/backend/gemini_api.py
Due: ruff-format-backend, ruff-backend, pyright-backend

feat: WebSocketにAI応答機能を追加
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

feat: .env.exampleにGEMINI_API_KEYの設定を追加
  .env.example
Due: none

fix: データベースパスを絶対パスに修正
  src/backend/database.py
Due: ruff-format-backend, ruff-backend, pyright-backend

feat: Gemini APIのログ出力機能を大幅改善
  src/backend/gemini_api.py
Due: ruff-format-backend, ruff-backend, pyright-backend

feat: WebSocket AI応答処理の最適化とログ改善
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: データベースファイルの作成場所を制御
  .gitignore
Due: none

feat: テスト時のchat.db生成を防ぐ機能追加
  src/backend/chat.db
  src/backend/database.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: pyproject.tomlを統合して依存関係管理を簡素化
  pyproject.toml
  src/backend/pyproject.toml
  src/backend/uv.lock
  uv.lock
Due: uv-lock-check-backend

fix: Gemini API接続エラーとタイムゾーン問題を修正
  src/backend/gemini_api.py
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

debug: メッセージ保存エラーの詳細ログを追加
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: WebSocketでmessage:broadcast受信処理を追加してリアルタイム表示修正
  src/backend/chat.db
  src/backend/websocket.py
  src/frontend/src/components/Layout.tsx
Due: eslint, ruff-format-backend, ruff-backend, pyright-backend

refactor: セッション管理ロジックの重複を削除して共通ヘルパー関数に統合
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

security: APIキーの部分ログ出力を削除してセキュリティリスクを軽減
  src/backend/gemini_api.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: Gemini APIのコードを簡潔化してエラーハンドリングを改善
  src/backend/gemini_api.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: WebSocketのAI応答処理を大幅にリファクタリング
  src/backend/websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

refactor: バックエンドコードを大幅にリファクタリングして構造を改善
  src/backend/ai/__init__.py
  src/backend/ai/gemini_client.py
  src/backend/ai/message_handlers.py
  src/backend/db_inspector.py
  src/backend/log_monitor.py
  src/backend/utils/__init__.py
  src/backend/utils/session_manager.py
  src/backend/websocket.py
  src/backend/websocket/__init__.py
  src/backend/websocket/handler.py
  src/backend/websocket/manager.py
  src/backend/websocket/types.py
Due: ruff-format-backend, ruff-backend, pyright-backend

security: データベースファイルのgit追跡を完全に停止
  .gitignore
  src/backend/chat.db
Due: none

fix: ブロードキャストメッセージの送信者表示問題を修正
  src/backend/websocket/handler.py
  src/backend/websocket/manager.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: セッション管理でcommit()を追加してデータベース変更を確実に保存
  src/backend/utils/session_manager.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: プロンプトファイルパスを環境変数ベースに変更してディレクトリ構造変更に対応
  src/backend/ai/gemini_client.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: フォールバックメッセージを一元化してGeminiAPIClientの定数を使用
  src/backend/ai/message_handlers.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: broadcast処理で重複する接続削除を防ぐためsetを使用
  src/backend/websocket/manager.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: traceback importを最適化し、WebSocketMessage型を定義して型安全性を向上
  src/backend/websocket/handler.py
Due: ruff-format-backend, ruff-backend, pyright-backend
