Repository naoto714714/ai-community: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-format-backend, ruff-backend, pyright-backend, uv-lock-check-backend

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: ^(.*\.(ya?ml|json5?)|src/frontend/.*\.(ts|tsx|js|jsx|css|md))$
        exclude: "node_modules/.*"
        additional_dependencies:
          - prettier@3.5.3

  - repo: local
    hooks:
      # Frontend Code Quality
      - id: eslint
        name: ESLint
        entry: bash -c 'cd src/frontend && npm run lint:fix'
        language: system
        files: ^src/frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Python Code Quality (Backend)
      - id: ruff-format-backend
        name: Ruff Format (Backend)
        entry: bash -c 'cd src/backend && uv run ruff format'
        language: system
        files: ^src/backend/.*\.py$
        pass_filenames: false
      - id: ruff-backend
        name: Ruff (Backend)
        entry: bash -c 'cd src/backend && uv run ruff check --fix --exit-non-zero-on-fix'
        files: ^src/backend/.*\.py$
        language: system
        pass_filenames: false
      - id: pyright-backend
        name: pyright (Backend)
        entry: bash -c 'cd src/backend && uv run pyright .'
        language: system
        files: ^src/backend/.*\.py$
        pass_filenames: false
      - id: uv-lock-check-backend
        name: Check backend uv.lock is up to date
        entry: bash -c 'cd src/backend && uv lock --check'
        language: system
        files: ^src/backend/(pyproject\.toml|uv\.lock)$
        pass_filenames: false

fix: メッセージ入力欄の下側に余白を追加してデザインを改善
  src/frontend/src/components/ChatArea.tsx
  src/frontend/src/components/MessageInput.tsx
Due: eslint

fix: メッセージ入力欄の余白を大幅に拡大してより余裕のあるデザインに変更
  src/frontend/src/components/ChatArea.tsx
  src/frontend/src/components/MessageInput.tsx
Due: eslint

fix: レビュー指摘事項を修正
  src/frontend/src/components/ChatArea.tsx
  src/frontend/src/components/Layout.tsx
  src/frontend/src/components/MessageList.tsx
Due: eslint

fix: 再レビューで指摘された重大な問題を修正
  src/frontend/src/components/Layout.tsx
  src/frontend/src/components/MessageList.tsx
Due: eslint

feat: nanoidを使用したメッセージID生成の実装
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/Layout.tsx
Due: eslint

docs: 包括的なテストフレームワーク仕様書を作成
  docs/test.md
Due: none

feat: testsディレクトリ構造と共通設定を作成
  tests/__init__.py
  tests/backend/__init__.py
  tests/backend/conftest.py
  tests/backend/e2e/__init__.py
  tests/backend/integration/__init__.py
  tests/backend/unit/__init__.py
  tests/conftest.py
Due: none

feat: バックエンドのユニットテストを実装
  tests/backend/unit/test_crud.py
  tests/backend/unit/test_models.py
  tests/backend/unit/test_schemas.py
  tests/backend/unit/test_websocket_handlers.py
Due: none

feat: バックエンドの統合テストを実装
  tests/backend/integration/test_api_channels.py
  tests/backend/integration/test_api_messages.py
  tests/backend/integration/test_database_operations.py
  tests/backend/integration/test_websocket_flow.py
Due: none

feat: バックエンドのE2Eテストを実装
  tests/backend/e2e/test_chat_flow.py
Due: none

refactor: 既存の雑なテストファイルを削除
  src/backend/run_step7_tests.py
  src/backend/test_comprehensive.py
  src/backend/test_websocket.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: テスト設定の修正とpyproject.toml更新
  pyproject.toml
  tests/backend/conftest.py
  tests/conftest.py
  uv.lock
Due: none

fix: テストファイルのモデルimportを動的に修正
  tests/backend/unit/test_crud.py
  tests/backend/unit/test_models.py
Due: none

fix: リンティング問題を解決とコード品質向上
  tests/backend/conftest.py
  tests/backend/e2e/test_chat_flow.py
  tests/backend/integration/test_api_channels.py
  tests/backend/integration/test_api_messages.py
  tests/backend/integration/test_database_operations.py
  tests/backend/integration/test_websocket_flow.py
  tests/backend/unit/test_crud.py
  tests/backend/unit/test_models.py
  tests/backend/unit/test_schemas.py
  tests/backend/unit/test_websocket_handlers.py
  tests/conftest.py
Due: none

ドキュメントの空白を削除
  docs/backend-implementation-guide.md
  docs/chat-app-guide.md
  docs/chat-app-spec.md
  docs/contributing.md
  docs/simple-backend-spec.md
  docs/test.md
Due: none

fix: test.md仕様準拠のためChannelモデルにdescriptionフィールドを追加
  src/backend/crud.py
  src/backend/main.py
  src/backend/models.py
  src/backend/schemas.py
  src/backend/websocket.py
  tests/conftest.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: WebSocketテストでseed_channelsフィクスチャを追加してチャンネル存在確認を修正
  tests/backend/integration/test_websocket_flow.py
Due: none

fix: データベーストランザクション分離テストで別セッションを作成して適切な分離をテスト
  tests/backend/integration/test_database_operations.py
Due: none

fix: WebSocketハンドラーテストでモックオブジェクトにclient_state属性を追加
  tests/backend/unit/test_websocket_handlers.py
Due: none

fix: ChannelモデルのdescriptionフィールドをText型に変更して長文対応
  src/backend/models.py
Due: ruff-format-backend, ruff-backend, pyright-backend

fix: データベース操作テストのコード品質を改善
  tests/backend/integration/test_database_operations.py
Due: none

fix: WebSocketハンドラーテストの型安全性向上とコード品質改善
  tests/backend/unit/test_websocket_handlers.py
Due: none

feat: pre-commitにテストファイルのコード品質チェックを追加
  .pre-commit-config.yaml
Due: none

remove: e2eテスト削除
  docs/test.md
  tests/backend/e2e/__init__.py
  tests/backend/e2e/test_chat_flow.py
Due: none

feat: フロントエンドテスト環境のセットアップ
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vite.config.ts
Due: none

feat: フロントエンドテストユーティリティとディレクトリ構造の追加
  tests/frontend/setup.ts
  tests/frontend/utils/mocks.ts
  tests/frontend/utils/test-utils.tsx
  tests/frontend/utils/websocket-mock.ts
Due: none

feat: フロントエンドコンポーネントの単体テスト実装
  tests/frontend/unit/components/ChannelList.test.tsx
  tests/frontend/unit/components/MessageInput.test.tsx
  tests/frontend/unit/components/MessageItem.test.tsx
  tests/frontend/unit/components/MessageList.test.tsx
Due: none

feat: フロントエンド統合テストの実装
  tests/frontend/integration/ChatApp.test.tsx
  tests/frontend/integration/WebSocketConnection.test.tsx
Due: none

feat: フロントエンドテスト実行環境の完成と進捗更新
  src/frontend/tests-setup.ts
  src/frontend/tests/integration/ChatApp.test.tsx
  src/frontend/tests/integration/WebSocketConnection.test.tsx
  src/frontend/tests/setup.ts
  src/frontend/tests/unit/components/ChannelList.test.tsx
  src/frontend/tests/unit/components/MessageInput.test.tsx
  src/frontend/tests/unit/components/MessageItem.test.tsx
  src/frontend/tests/unit/components/MessageList.test.tsx
  src/frontend/tests/utils/mocks.ts
  src/frontend/tests/utils/test-utils.tsx
  src/frontend/tests/utils/websocket-mock.ts
  src/frontend/vite.config.ts
Due: none

fix: pre-commitでフロントエンドテストファイルもESLintチェック対象に追加
  .pre-commit-config.yaml
Due: none

fix: vite.config.tsのtestInclude設定でtests/frontendディレクトリも含める
  src/frontend/vite.config.ts
Due: none

fix: fetchモックのテスト間状態漏れを修正
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/MessageItem.tsx
  src/frontend/tests-setup.ts
  src/frontend/tests/setup.ts
  src/frontend/tests/unit/components/MessageItem.test.tsx
  src/frontend/tests/utils/websocket-mock.ts
  src/frontend/vite.config.ts
  tests/frontend/unit/components/MessageItem.test.tsx
  tests/frontend/utils/websocket-mock.ts
Due: eslint
